@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  line-height: 1.2;
  font-size: 100%;
  min-width: 350px;
  max-width: 350px;
  min-height: 300px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0px;
}

#bar-container{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2196F3;
}
.bar{
  text-indent: 10px;
  width: 75%;
  height: 35px;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  font-family: "Futura";
  font-weight: 300;
  outline:none;
  border: solid 1px #d9d9d9;
  border-top: solid 1px #c0c0c0;
  border-right: none;

}
.bar:focus{
}
.icon{
  background-color: #2196F3; /* Google Blue */
  color: white;
  margin: 0;
  padding: 0;
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 20px;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
}
.search-icon i{
  text-align: center;
}
#list-container{
}

  .card{
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all 0.5s ease; 
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    margin-bottom: 2px;
  }
    .entry{
      padding: 10px;
      padding-left: 15px;
      font-size: 16px;
      font-weight: 400;
      font-family: 'Roboto';
    }
    .result{
      
      font-size: 14px;
      max-height: 0;
      padding: 0 10px 0 15px;
      transition: transform 0.5s linear, max-height .3s ease-in, padding-top .3s linear, 
      padding-bottom .3s linear, border-top-width .3s linear;
      transform: rotateX(-90deg);
      transform-origin: top;
      transform-style: preserve-3d;
      perspective: 1000px;
    }
    .result-active{
      max-height: 100px;
      padding: 10px 10px 10px 15px;
      overflow: hidden;
      transform: rotateX(0deg);
    }
    .minimenu {
      padding: 5px 0 5px 0; 
    }
    .minimenu span{
      height: 20px;
      width: 30%;
      font-size:15px;
      padding-left: 2%;
      border-left: 1px solid #aaa;
      font-size: 20px;
      display: inline-block;
      vertical-align: bottom;
      text-align: center;
    
    }
    .minimenu .span-last{
       border-right: 1px solid #aaa;
    }
}    
